
<div class="h1">Twitter</div>

<div class="home-para">



<p>
  Come join us as we set on our endless journey.
  This twitter is a clone created by Ali Asad .<br>
  This was created using Ruby On Rails and styled
  using css and bootstrap
  <br>
  <br>

  To the left you can see the tweets by various users that
  can be seen world wide. <br>
  Sign up  for free and let the world hear you
</p>

</div>